/* Body Content Styling */
body {
    font-family: "Comic Sans MS", cursive, sans-serif;
    background-image: url("../images/StarWarsBackground.jpg"); 
    max-width: 100%;
    height: auto; 
}

/* Making sure the card class is the same size throughout
.card {
    position: relative;
    width: 150px;
    height: 150px;

} */

/* Making sure the images class is the same size throughout */
.images {
    position: relative;
    width: 150px;
    height: 150px;
}

/* giving the character list a green border */
.characters {
    border: 3px solid green;
}

/* position the title id to the right */
#title {
     text-align: right;
}

/* showing the attacker with a green border and white backgroun */
.your-character {
    border: 3px solid green;
    background-color: white;
    max-width: 150px;
}

/* change the text color for the enemies to show better on the background  */
#your-enemies h3 {
    color: red;
}

/* change the text color for the messages to show better on the background  */
#message-section h3 {
    color: orangered; 
}

/* showing the enemies with a black border and red background */
.enemies {
    border: 3px solid black;
    background-color: red;
    max-width: 150px;
}

/* showing the defender with a green border and white backgroun */
.defender {
    border: 3px solid green;
    background-color: white;
    max-width: 150px;
}   

.plyr-name {
    position: absolute;
    /* background-color: white; */
    text-align: center;
    color: black;
    top: 0px;
    width: inherit;

  }

  .plyr-hp {
    position: absolute;
    /* background-color: white; */
    text-align: center;
    color: black;
    bottom: -10px;
    width: inherit;

  }