/* Body Content Styling */
body {
    font-family: "Comic Sans MS", cursive, sans-serif;
    background-image: url("../images/concrete_seamless.png"); 
    max-width: 100%;
    height: auto; 
}


.jumbotron {
    background-color: transparent;
}

 .images {
    position: relative;
    width: 300px;
    height: 300px;
    border: 0 none;
    background-color: transparent;
}

.games {
    max-width: 300px;
    background-color: transparent;
    border: none;
}

.img-thumbnail {
    border: none;
}

/* .work {
    position: relative;
    float: left;
    width: 274px;
    margin: 20px 0 25px;
    overflow: auto;
  }
  
  .work:nth-child(even) {
    margin-right: 40px;
  } */
  
  /* .work img {
    width: 100%;
    border: 0 none;
    opacity: 0.8;
  } */
  
  .games h3 {
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding: 15px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
    background: #4aaaa5;
    border-bottom: 0;
  }
  
  /* .auth-image {
    float: left;
    width: 200px;
    height: auto;
    margin-top: 10px;
    margin-right: 25px;
  } */
  