/* Body Content Styling */
body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-image: url("../images/360513.jpg"); 
    max-width: 100%;
    height: auto; 
}

.images {
    width: 150px;
    height: 150px;
}

.your-character {
    border-color: blue;
    background-color: blue;
}

.enemies {
    border-color: red;
    background-color: red;
}

.defender {
    border-color: white;
    background-color: black;
}   